<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="con" style="text-align:center" >

    <ion-pane style="background-color: green;">
      <ion-content  padding>       
        <span ng-bind="cost"></span>
        <div ng-hide="hideBlueDevice">
          <ul id="deviceList">                    
          </ul>
        </div>
        <div style="border: 00;border-color: blue; height: 40%;">
          <div style="border: 00;border-color: red; height: 40%;width: 100%;float: left;">
          </div>
          <div style="border: 00;border-color: red; height: 50%;width: 20%;float: left;">
          </div>

          <div style="border: 00;border-color: red; height: 50%;width: 30%;float: left;">
            <button id = "b_b" class="button button-large ion-arrow-left-b" style="font-size: 500%" on-touch="onSend('0x02')" on-release="onSend('0x00')">
            </button>
          </div>

          <div style="border: 00;border-color: red; height: 50%;width: 20%;float: right;">
          </div>

          <div style="border: 00;border-color: red; height: 50%;width: 30%;float: right;">
            <button id = "b_f" class="button button-large ion-arrow-right-b" style="font-size: 500%" on-touch="onSend('0x01')" on-release="onSend('0x00')">
            </button>
          </div>
          
        </div>

        <div style="border: 00;border-color: green; height: 10%;">
          <!-- <button class="button ion-ios-game-controller-a">
          </button>
          <button class="button ion-ios-game-controller-a-outline">
          </button> -->
          <button id="scan" class="button ion-bluetooth" ng-click="scan()" style="color: red;font-size: 300%"></button>

        </div>

        <div style="border: 00;border-color: yellow; height: 40%;">
          <div style="border: 00;border-color: blue; height: 20%;">
          </div>
          <div style="border: 00;border-color: blue; height: 40%;">
            <button id = "b_l" class="button button-large ion-arrow-up-b" style="font-size: 500%" on-touch="onSend('0x03')" on-release="onSend('0x00')">
            </button>
          </div>
          <div style="border: 00;border-color: blue; height: 40%;">
            <button id = "b_r" class="button button-large ion-arrow-down-b" style="font-size: 500%" on-touch="onSend('0x04')" on-release="onSend('0x00')">
            </button>
          </div>
          
        </div>
        
        <!-- <p ng-hide="myVar">
        suuid: <input type="text" ng-model="service_uuid"><br>
        cuuid: <input type="text" ng-model="characteristic_uuid"><br>
        <br>
        s_cuuid: {{service_uuid + " " + characteristic_uuid}}
        </p> -->
      </ion-content>
    </ion-pane>
  </body>
</html>
